<div class='col-3'>
  <div class="card">
    <div class="card-header" style='background-color:<%= board.header_background_color %>;color:<%= board.header_text_color %>;'>
      <%= board.title %>
      <%= link_to t('posts.new.title'),
                  new_board_post_path(board) %>
    </div>
    <div class="card-body">
      <%= link_to t('boards.index.edit'),
                  edit_board_path(board) %>
      <p class="card-text"><%= board.description %></p>
    </div>
    <div class='card-body'>
      <%= render board.posts %>
    </div>
  </div>
</div>
