<%= form_with model: [@board, @post], class: 'form-horizontal', local: true do |f| %>
  <div class='form-group'>
    <%= f.label :title %>
    <div class=''>
      <%= f.text_field :title, required: true %>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :description %>
    <div class=''>
      <%= f.text_area :description %>
    </div>
  </div>
  <div class=form-group'>
    <%= f.label :conslusion_deadline %>
    <div class=''>
      <%= f.date_field :conclusion_deadline %>
    </div>
  </div>
  <% if !f.object.new_record? %>
    <div class='form-group'>
      <%= f.label :board %>
      <div class=''>
        <%= f.select :board_id, Board.all.map { |e| [e.title.to_s.titleize, e.id] } %>
      </div>
    </div>
  <% end %>
  <div class=form-group''>
    <%= render partial: 'posts/attachments', locals: { post: f.object, size: '100x100' } %>
  </div>
  <div class=form-group''>
    <div class=''>
      <%= f.file_field :attachments, multiple: true %>
    </div>
  </div>
  <div class='form-group'>
    <div class=''>
      <%= f.submit class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
