<div class="card border-secondary mb-3" style="max-width: 18rem;" id='<%= post.id %>'>
  <div class="card-header">
    <%= post.title %>
  </div>
  <div class="card-body text-secondary">
    <h5 class='card-title'> <%= link_to t('posts.edit'), edit_board_post_path(post.board, post) %>
    <%= link_to t('posts.destroy'),
                board_post_path(post.board, post),
                method: :delete,
                remote: true,
                data: { confirm: t('posts.confirm_destroy') } %>
    </h5>
    <h5 class="card-title"><%= post.description %></h5>
    <p class="card-text float-right"><%= post.conclusion_deadline.strftime("%d/%m/%Y %H:%M") %></p>
  </div>
</div>
